/* general rules */
body{
  position: relative;
}

    /* general rules */

#bg{
  height: 100%;
  width: 100%;
  position: fixed;
  background: linear-gradient( #009688 0%, #009688 15%, #D8DBD7 15%, #D8DBD7 100%);
  margin-top: auto;
  padding: 1% 5%;
}
#mainwindow{
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.31);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.31);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.31);
}

#user{
  background: #EEEEEE;
  min-height: 8vh;
  width: 100%;
  border-right: 1px lightgray solid;
}

#navchat{
  height: 95vh;
  overflow: auto;
  background: white;
}

#chatwindow{
}

#chatwindow #name{
  background: #EEEEEE;
  min-height: 8vh;
  width: 100%;
}

#chatwindow #chatbox{
  height: 80vh;
  overflow-y: auto;
  background-image: url(../img/bg.png);
  background-size: 500px;
  padding: 0 6em;
}

#chatwindow #chatsend{
  height: 6vh;
  position: absolute;
  bottom: 0;
  background: #EFEFEF;
  border-left: 1px lightgray solid;
}

#chatsend .fas, .far{
  font-size: 1.6rem;
  color: gray;
}

#chatsend .fas:hover, .far:hover{
  cursor: pointer;
}

#chatsend input{
  width: 100%;
  margin: 1vh 0;
  height: 4vh;
  border: none;
  border-radius: 30px;
  padding: 0 1em;
  outline: none;
}