/* general rules */
body{
  position: relative;
}
ul li a{
  color: gray;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: darkgray;
}

::-webkit-scrollbar-thumb:hover {
  background: gray; 
}
    /* general rules */

#bg{
  height: 100%;
  width: 100%;
  position: fixed;
  background: linear-gradient( #009688 0%, #009688 15%, #D8DBD7 15%, #D8DBD7 100%);
  margin-top: auto;
  padding: 1% 5%;
}
#mainwindow{
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.31);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.31);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.31);
}

/* ========================================NAVCHAT======================================= */
#navchat{
  height: 95vh;
  background: white;
}
/* ===============user ROW=============== */
#user{
  background: #EEEEEE;
  min-height: 65px;
  border-right: 1px lightgray solid;
}
#user .col-3 img{
  width: 40px;
}
#user .col-6>ul{
  margin: 0;
}
#user .col-6 img{
  width: 25px;
}
/* ===============SEARCH ROW=============== */
#search {
  color: lightgray;
  background: #F8F8F8;
  padding: 12px 15px;
  position: relative;
}
#search i{
  position: absolute;
  left: 25px;
  bottom: 20px;
}
#search input{
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 5px 10px 5px 60px;
  width: 100%;
  font-size: 0.9em;
}
/* ===============contacts USER ROW=============== */
#contacts{
  overflow-y: auto;
  max-height: calc(100% - 121px);
}
#contacts .col-12{
  padding: 10px 20px 2px 20px;
}
#contacts img{
  width: 60px;
  height: 50px;
  margin-right: 20px;
}
#contacts .box {
  border-bottom: 1px lightgray solid;
  width: 100%;
}
#contacts .box p{
  padding: 0;
  margin-top: -6px;
}
.importantHide{
  display: none !important;
}

#contacts .contact:hover{
 background: lightgray;
 cursor: pointer;
}
/* =====================================CHATWINDOW======================================= */
#chatwindow{
}
/* ===============NAME ROW=============== */
#chatwindow #name{
  background: #EEEEEE;
  height: 65px;
  padding: 5px;
}
#chatwindow #name img{
  width: 40px;
  height: 50px;
}
#chatwindow #name .box h6,p{
  padding: 0 25px;
}
#name .col-3{
  padding: 0 20px;
}
#name .col-3 ul li{
  padding-left: 15px;
  font-size: 1.2em;
  
}
/* ===============CHATBOX=============== */

#chatwindow #chatbox{
  height: 82vh;
  overflow-y: auto;
  background-image: url(../img/bg.png);
  background-size: 500px;
  padding: 0 6em;
}
/* ===============CHAT SEND=============== */
#chatwindow #chatsend{
  height: 6vh;
  position: absolute;
  bottom: 0;
  background: #EFEFEF;
  border-left: 1px lightgray solid;
}

#chatsend .fas, .far{
  font-size: 1.6rem;
  color: gray;
}

#chatsend .fas:hover, .far:hover{
  cursor: pointer;
}

#chatsend input{
  width: 100%;
  margin: 1vh 0;
  height: 4vh;
  border: none;
  border-radius: 30px;
  padding: 0 1em;
  outline: none;
}
/* =====================================TEMPLATE SETUP======================================= */
#template {
  display: none;
}
.msgsent .box, .msgpc .box{
  background: rgb(185, 223, 109);
  text-align: left;
  display: inline-block;
  font-size: 2em;
  border-radius: 10px;
  padding: 5px 15px;
  margin-bottom: 30px;
  max-width: 75%;
  min-width: 10%;
}
.txt{
  word-wrap: break-word;
}

.msgpc .box{
  text-align: left;
  background: white;
}

.msgsent .time, .msgpc .time{
  font-size: 0.5em;
  text-align: right;
  color: gray;
}